.RadPanelbar_Default
{
	background: white;
	white-space: nowrap;
}

.RadPanelbar_Default .rootGroup
{
	border: solid 1px #e5e5e5;
	border-bottom: 0;
}

.RadPanelbar_Default .text
{
	color: #333333;
	padding: 0px 23px;
	font: normal 11px Arial, Verdana, Sans-serif;
}

.RadPanelbar_Default .image
{
	margin: 4px 0px;
}


.RadPanelbar_Default .rootGroup .text
{
	background: url('Img/headerArrow.gif') no-repeat 11px center;
	line-height: 18px;
	border-bottom: solid 1px #bbbbbb;
	border-top: solid 1px white;
}

.RadPanelbar_Default .rootGroup .link
{
	background: white url('Img/HeaderBg.gif') repeat-x;
}

.RadPanelbar_Default .group .text
{
	border-bottom: solid 1px #f5f5f5;
	border-top: 0;
	background: none;
	color: #666666;
}

.RadPanelbar_Default .group .link
{
	background: none;
}


.RadPanelbar_Default .rootGroup .expanded
{
	background: white url('Img/SelectBg.gif') repeat-x;
}

.RadPanelbar_Default .group .expanded
{
	background: none;
	border-bottom: 0px;
}

.RadPanelbar_Default .rootGroup .expanded .text
{
	background: url('Img/HeaderArrowExpanded.gif') no-repeat 11px center;
	border-bottom: solid 1px #bbbbbb;
	border-top: solid 1px white;
}

.RadPanelbar_Default .rootGroup .selected .text
{
	font-weight: bold;
}

.RadPanelbar_Default .group .selected .text
{
	text-decoration: underline;
	font-weight: normal;
	border-bottom: solid 1px #f5f5f5;
	border-top: 0;
	background: none;
	color: black;
}

.RadPanelbar_Default .group .expanded .text
{
	border-top:0;
	color: #000;
	border-bottom: solid 1px #f5f5f5;
	background: none;
}

.RadPanelbar_Default .level2 .text
{
	padding-left: 36px;
	line-height: 14px;
}

.RadPanelbar_Default .rootGroup .disabled:hover,
.RadPanelbar_Default .rootGroup .disabled .text
{
	color: #ccc;
	cursor: default;
}

.RadPanelbar_Default .rootGroup .group .disabled:hover,
.RadPanelbar_Default .rootGroup .group .disabled .text
{
	text-decoration: none;
	background: none;
	color: #ccc;
	cursor: default;
}
